@{
    ViewData["Title"] = "EduPlan: Лабораторна робота 3";
}

<div class="text-center mt-2">
    <h1 class="text-4xl font-extrabold text-indigo-700 mb-4">Кросплатформний Планувальник Навчального Процесу (EduPlan)</h1>
    <p class="text-lg mt-4 text-gray-700">
        Цей додаток є To-Do List для освітнього процесу, що дозволяє студентам/викладачам створювати списки навчальних завдань,
        встановлювати терміни та відстежувати прогрес.
    </p>
    <p class="mt-2 text-sm text-gray-500">
        Лабораторна робота 3: Розробка ASP.NET CORE MVC додатка з використанням OAuth2.
    </p>
    <div class="mt-10 space-x-4">
        <a href="/Account/Login" class="inline-flex items-center justify-center bg-indigo-600 hover:bg-indigo-700 text-white font-semibold py-3 px-6 rounded-lg transition duration-150 shadow-md">
            Вхід
        </a>
        <a href="/Account/Register" class="inline-flex items-center justify-center bg-green-500 hover:bg-green-600 text-white font-semibold py-3 px-6 rounded-lg transition duration-150 shadow-md">
            Реєстрація
        </a>
    </div>
</div>